
<script type="text/javascript">
    $(function () {
        //监听文章 删除事件
        $(".dels").click(function () {

            //简单写法
            //用户点击确认，返回true，向后端发送删除指令
            //用户点击取消，返回false，不发送删除指令
            return confirm("是否确认删除？")

        });

        //监听下拉选择框 值改变 的时间
        $("#select").change(function () {

            $("#form").submit();
        });

        //监听类型 删除事件
        $(".edit").click(function () {

            return confirm("是否确认删除该类型？")

        });

    });
</script>